ch_12_Python/12_5_Modules/__pycache__/
startJupyter.sh
.ipynb_checkpoints
*.idea
.idea
*.log
*.xml
*.properties
/ch_12_hadoop/hadoop_docker/docker-hive*
/ch_12_hadoop/hadoop_docker/docker-hive
/ch_20_Airflow/airflow_project/logs
