ch_12_Python/12_5_Modules/__pycache__/
startJupyter.sh
.ipynb_checkpoints
*.idea
.idea
*.log
.log/*
.log
*.xml
*.html
*.properties
/ch_12_hadoop/hadoop_docker/docker-hive*
/ch_12_hadoop/hadoop_docker/docker-hive
/ch_20_Airflow/airflow_project/logs/
/ch_12_Python/refactoring_course/13_13_connect_db/python_project/postgres_data/
/ch_12_Python/refactoring_course/13_12_build_python/build/
/ch_12_Python/refactoring_course/13_13_connect_db/python_project/clickhouse_data/
/ch_12_Python/refactoring_course/13_12_build_python/books_authors.db
